
body {
    background-color: #d6817e;
    margin: 0px;
    padding: 0px;
}
nav {
    background: white;
    height: 80px;
    width: 100%;
}
.fondo {
    background-image: url(fondo.jpg);
    
}
.logo { 
    background: url(logo1.png) no-repeat 20% 60%;
    background-size: contain;
    width: 300px;
    height: 60px;
    float: left;
}
.menu a{
    color: #0c0a0a;
    text-decoration: none;
    margin-left: 60%;
    font-weight: 700;
    text-transform: uppercase;
}
.menu a:hover{
    color: #e0251f;
}
.busca{
    width: 100%;
    margin: 20px;
    padding: 10px;
    resize: vertical;
}
input[type="search"]{
    width: 50%;
    padding: 12px;
    margin: 12px 0px;
    border: 2px solid rgb(19, 10, 10);
    border-radius: 20px;
    resize: vertical;
}
button[type="submit"]{
    background-color: #0c0a0a;
    color: white;
    padding: 12px 25px;
    border: 2px solid rgb(19, 10, 10);
    border-radius: 20px;
    cursor: pointer;
    float: none;
}

button[type="submit"]:hover{
    background-color: #e0251f;
}

h1 {
    font-family: Arial; 
    text-align: center;
    font-size: 25px;
    margin: 60px auto;
    width: 90%;
}